{{!-- ?? can't start mysql
	?? how is the /post sent
		lines 29-321 --}}

<div class="container bg" alt="Responsive image">
		<div class="jumbotron">
	
			<div class="row">
				<div class="left col-sm-3 rounded float-left" alt="Responsive image" alt="Eat-Da-Burger App">
					<img src="assets/img/hamburger.png">
					<p> pngtree.com<p>
					
				</div>				

				<div class="center col-sm-6 rounded float-left" alt="Responsive image" alt="Eat-Da-Burger App">
					<center><h1>Eat-Da-Burger App </h1>					
				</div>

				<div class="col-sm-3 rounded float-right" alt="Responsive image" alt="Eat-Da-Burger App">
					<img src="assets/img/fatman.png" class="img-responsive" class="img-circle" alt="Eat-Da-Burger App">
				
					 <p> pngtree.com<p>
				</div>
			</div>
		</div>
		
	<!-- end .row -->

	<div class="row">
					
	    <div class="col-sm-6">
			<br>
			<h2>Burgers Available To Eat!</h2>
			<ul>
			{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}
					{{this.burgerName}}

					//<form action="/api/burgers {{this.id}}?_method=POST" > 
					<form action="/api/burgers/ {{this.id}}" method=POST" >
					<input type="hidden" name="devoured" value="false">
					<button class="btn-primary" id= "devourIt" >Devour It!</button>
					 </form> 
				</li>
				{{/unless}}
			{{/each}}
			</ul>
	    </div>

	    <div class="right col-sm-6">
			<br>
			<h2>Burgers Devoured!</h2>	
			  <ul>		
			  {{#each burgers}}
			    {{#if this.devoured}}
			      <li>
			      	{{this.id}}
			        {{this.burgerName}}

			      </li>
			    {{/if}}
			  {{/each}}
			  </ul>
			
	    </div>
  	</div>
	  
	<!-- end .row -->

	<div class="row">
		
	    <div class="center col-sm-12">

			<h2>Add A Burger!</h2>

			<form class="create-update-form" action="/api/burgers" method="POST">
		

			  <div class="form-group">
			    <p>Enter burger to order and click the Submit Order button.</p>
			    <input type="text" id="create" name="burgerName">
			  </div>
			  
			  <button class="btn-primary" type="submit">Submit Order</button>
			</form>

	    </div>
	
  	</div>
	<!-- end .row -->

</div>
 <!----> jQuery is used to "download" the data from the server
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  
<!-- link to external javascript -->
<script src="assets\js\burgers.js"></script>