
<div class="container bg">
	
	<div class="row">
          <div class="center col-sm-12">
          <h1>Eat the Burger App</h1>
          <img src="../assets/img/hamburger.png" alt="">
          <p>Track burger orders with this app.</p>

              <p></p>
	        </div>
  </div>

  <div class="row">
	    <div class="col-sm-6">
          <br>
          <h2>Burgers Available To Eat!</h2>

          <ul>
          {{!-- list UNdevoured burgers --}}
            {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                <p><span class="label">ID:</span> {{id}}</p>
                <p><span class="label">Burger Name:</span> {{burger_name}}</p>
                <p><span class="label">Devoured:</span> {{devoured}}</p>
                <button data-id="{{this.id}}" class="devourburger">Devour It!</button> 
                <a href="/{{this.id}}">Update this burger</a>
              </li>
                {{/unless}}
            {{/each}}
          </ul>
      </div>

	    <div class="col-sm-6">
          <br>
          <h2>Burgers Eaten!</h2>

          <ul>
          {{!-- list DEvoured burgers --}}
            {{#each burgers}}  
              <li>
                <p><span class="label">ID:</span> {{id}}</p>
                <p><span class="label">Burger Name:</span> {{burger_name}}</p>
                <p><span class="label">Devoured:</span> {{devoured}}</p>
                <button data-id="{{this.id}}" class="devourburger">Devour It!</button> 
                <a href="/{{this.id}}">Update this burger</a>
              </li>
            {{/each}}
      </div>
</div>
      
</ul>
<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <textarea id="burger" name="burger" rows="8" cols="10"></textarea>
    <input type="text" burgerName="burgerName" >
  </div>
  <div class="form-group">
    <label for="devoured">Devoured:</label>
    <textarea id="devoured" name="devoured" rows="8" cols="10"></textarea>
  </div>
  <button type="submit">Order Burger</button>
</form>





